.all-pokemons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-child-container {
    color: white;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    width: 150px;
    height: 220px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    margin: 64px;
    transition: all 255ms ease-in-out;
    box-shadow: 1px 1px 0px rgb(0 0 0 / 25%), 2px 2px 0px rgb(0 0 0 / 25%), 3px 3px 0px rgb(0 0 0 / 25%), 4px 4px 0px rgb(0 0 0 / 25%), 5px 5px 0px rgb(0 0 0 / 25%), 6px 6px 0px rgb(0 0 0 / 25%);
    &:hover {
        transform: scale(1.12);
        box-shadow: 13px 2px 12px rgb(0 0 0 / 25%), 2px 2px 0px rgb(0 0 0 / 25%), 3px 3px 0px rgb(0 0 0 / 25%), 4px 4px 0px rgb(0 0 0 / 25%), 5px 5px 0px rgb(0 0 0 / 25%), 6px 6px 0px rgb(0 0 0 / 25%);
    }
    .pokemon-img-container {
        border-bottom: 1px solid #000;
        padding-bottom: 16px;
        display: flex;
        justify-content: center;
        width: 160px;
        img {
            height: 80px;
            transition: all 255ms ease-in-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.15);
            }
        }
    }
    p {
        box-shadow: 1px 1px 2px 0px #000;
        padding: 4px;
        border-radius: 40%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.pokemon-id {
    position: absolute;
    top: 2px;
    left: 4px;
}

.pokemon-name {
    position: absolute;
    bottom: 4px;
    text-transform: capitalize;
}

.btn-container {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    padding: 8px;
    color: white;
    background-color: rebeccapurple;
    width: 220px;
    border-radius: 8px;
    &:hover {
        background-color: rgb(116, 67, 164);
    }
}