<div class="overlay-container">

    <aside>
        <nav>
            <button (mouseover)="showStats('about')">ABOUT</button>
            <button (mouseover)="showStats('base')">BASE STATS</button>
            <!-- <button (mouseover)="showStats('evolution')">EVOLUTION</button> -->
            <button (mouseover)="showStats('moves')">MOVES</button>
        </nav>
    </aside>

    <div class="child-container">
        <span class="close-detail" (click)="dataService.closeDetails()">Close</span>
        <div class="detail-container">
            <img src="{{ dataService.pokemon.sprites.other.dream_world.front_default }}" alt="">
        </div>
    </div>

    <aside>
        <div class="pokemon-stats-container">


            <div *ngIf="about" class="about-main-container">
                <h3> <b>NAME:</b>{{ dataService.pokemon.name }}</h3>
                <div *ngFor="let abl of dataService.pokemon.abilities; let i = index" class="abilities-container">
                    <span><b> Ability {{ i+1 }}:</b></span>
                    <span>{{ abl.ability.name }}</span>
                </div>
                <div class="body-description">
                    <span><b> Height:</b>{{ dataService.pokemon.height }}</span>
                    <span><b> Weight:</b>{{ dataService.pokemon.weight }}</span>
                </div>

            </div>


            <div *ngIf="baseStat" class="base-container">
                <div *ngFor="let pokestat of dataService.pokemon.stats; let i = index" class="stat-content mrg-btm90">
                    <b>{{ dataService.pokemon.stats[i].stat.name }}:</b> {{ dataService.pokemon.stats[i].base_stat }}
                </div>
            </div>

            <!-- <div *ngIf="evolution">
                <b>Name:</b> {{ dataService.pokemon.id }}<br><br>
                <b>Abilities:</b>
                <div *ngFor="let ability of dataService.pokemon.abilities">
                    {{ ability.ability.name }}
                </div>
            </div> -->

            <div *ngIf="moves">
                <div *ngFor="let pokeMoves of dataService.pokemon.moves; let i = index" class="stat-content mrg-btm25">
                    <p *ngIf="i <= 6"><b> {{ i+1 }}. Move :</b> {{pokeMoves.move.name }}</p>
                </div>
            </div>
        </div>
    </aside>
</div>
