/* You can add global styles to this file, and also import other style files */
body {
    background-color: #89CFF0;
}

.hide {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.alg-center {
    display: flex;
    align-items: center;
}